* {
  padding: 0;
  margin: 0;
}

.table-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
table {
  width: 100%;
  overflow-y: scroll;
  /* border: 1px solid black; */
}

#table-head {
  background-color: #f7f7f7;
}

th {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 24px;
  text-align: start;
}

table tr {
  text-align: start;
  height: 46px;
}

td {
  padding: 17px 0 12px 24px;
  border-bottom: 1px solid #f2f2f2;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
  /* height: 46px; */
  background-color: #fcfcfc;
}

td:nth-child(2) span {
  padding: 4px;
  /* background-color: greenyellow; */
  border-radius: 4px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* background-color: rgb(224,237,231); */
}

td:nth-child(2) .verified {
  background-color: rgb(224, 237, 233);
  color: #427a5b;
}
td:nth-child(2) .pending {
  background-color: rgb(253, 248, 210);
  color: #938406;
}
td:nth-child(2) .unverified {
  background-color: rgba(134, 134, 134, 0.1);
  color: #999999;
}

.td-flex {
  display: flex;
  width: 100%;
}

td:nth-child(3) {
  /* flex-shrink: 0; */
  gap: 20px;
}

progress::-webkit-progress-bar {
  background-color: #f2f2f2;
  border-radius: 4px;
}

progress::-webkit-progress-value {
  background-color: #4c4c4c;
  border-radius: 4px;
}

progress {
  position: relative;
  border-radius: 4px;
  height: 4px;
  top: 10px;
}
/* progress:after {
    content: attr(value)'%';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
  } */

.increment:before {
  content: '↑';
}
.decrement:before {
  content: '↓';
}

td:nth-child(3) span {
  padding: 4px;
  border-radius: 4px;
}
td:nth-child(3) .increment {
  background-color: rgb(224, 237, 233);
  color: #427a5b;
}
td:nth-child(3) .decrement {
  background-color: #eddede;
  color: #a65959;
}

.progressFalse progress {
  display: none;
}

table p:after {
  content: '%';
}

.table-delete-btn {
  color: white;
  background-color: red;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
}

.copy-link-btn {
  color: black;
  background-color: rgb(219, 201, 219);
  padding: 0.5rem;
  border-radius: 5px;
}

.copy-link-btn:active {
  transform: scale(1.05);
  background-color: rgb(189, 155, 189);
}
